<h2 class="text-center">NGRX Stores {{count$ | async}}</h2><br>
<app-counter/>
<app-posts/>

<div> 
    <h4>From App Component</h4>
    <h5 *ngIf="!error$ else table_template">Something went wrong!</h5>
    <!--Below code will be allowed in newer version of angular (from angular 17)-->
    <!-- @if(error$ | async){
        <h5>Something went wrong!</h5>
    }@else {
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of posts$ | async">
                <th scope="row">{{post.id}}</th>
                <td>{{post.name}}</td>
              </tr>
            </tbody>
        </table>
    } -->
</div>
<ng-template #table_template>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts$ | async">
            <th scope="row">{{post.id}}</th>
            <td>{{post.name}}</td>
          </tr>
        </tbody>
    </table>
</ng-template>